{
	"presets": [
		[
			"@babel/preset-env"
		]
	],
	"ignore": [
		"node_modules/",
		"public/"
	],
	"plugins": [
		[
			"module-resolver",
			{
				"root": [
					"./"
				],
				"alias": {
					"@components": "./src/components",
					"@documentation": "./src/components/documentation"
				}
			}
		]
	]
}
