{
	"presets": [["@babel/preset-env"]],
	"ignore": ["node_modules/", "public/"],
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-proposal-optional-chaining",
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@assets": "./src/assets",
					"@components": "./src/components",
					"@docs": "./src/docs",
					"@plugins": "./src/plugins"
				}
			}
		]
	]
}
