.github
build
docs
node_modules

.babelrc
.browserslistrc
.editorconfig
.eslintignore
.eslintrc.js
.prettierrc.js
CHANGELOG.md
stylelint.config.js
*.map

src/App.vue
src/main.js
src/templates

src/components/Documentation.vue
src/components/Menu.vue

src/components/documentation/
